@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  /* Имя шрифта */
  src: url(../fonts/roboto.woff2) format("woff2"), url(../fonts/roboto.woff) format("woff");
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  /* Имя шрифта */
  src: url(../fonts/robotobold.woff2) format("woff2"), url(../fonts/robotobold.woff) format("woff");
  font-weight: 700;
}

@font-face {
  font-family: 'Roboto';
  /* Имя шрифта */
  src: url(../fonts/robotomedium.woff2) format("woff2"), url(../fonts/robotomedium.woff) format("woff");
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  padding: 16px 55px;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.btn--background-color--green {
  background-color: #00ca74;
}

.btn--background-color--green:hover {
  background-color: #00bc6c;
}

.btn--background-color--green:active {
  background-color: #00aa62;
}

.btn--background-color--yellow {
  background-color: #efc84a;
}

.btn--background-color--yellow:hover {
  background-color: #eab534;
}

.btn--background-color--yellow:active {
  background-color: #e5a722;
}

.btn--background-color--grey {
  background-color: #eee;
  color: #000;
}

.btn--background-color--grey:hover {
  background-color: #dfdfdf;
}

.btn--background-color--grey:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}

.btn--width--filter {
  padding-left: 21px;
  padding-right: 20px;
}

.btn--width--page {
  padding-left: 21px;
  padding-right: 20px;
}

.btn--width--small {
  padding-left: 40px;
  padding-right: 40px;
}

.btn--width--middle {
  padding-left: 45px;
  padding-right: 44px;
}

.btn--width--large {
  padding-left: 83px;
  padding-right: 83px;
}

.btn--width--max {
  padding-left: 88px;
  padding-right: 88px;
}

.btn--width--catalog-next {
  padding-left: 77px;
  padding-right: 79px;
}

.btn--current {
  background-color: #fff;
  box-shadow: inset 0 3px #dbdbdb, inset 0 -3px #dbdbdb, inset 3px 0  #dbdbdb, inset -3px 0  #dbdbdb;
}

.btn--current:hover {
  background-color: #fff;
}

.btn--current:active {
  color: black;
  background-color: #fff;
  box-shadow: inset 0 3px #dbdbdb, inset 0 -3px #dbdbdb, inset 3px 0  #dbdbdb, inset -3px 0  #dbdbdb;
}

.btn--social {
  position: relative;
  width: 80px;
  height: 80px;
  padding: 0;
  margin-right: 10px;
  background: #e1e1e1 no-repeat 50% 50%;
  border-radius: 50%;
}

.btn--social::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: transparent no-repeat 50% 50%;
}

.btn--social:active::before {
  opacity: 0.3;
}

.btn--social--vk::before {
  background-image: url(../img/social/vk-icon.svg);
}

.btn--social--fb::before {
  background-image: url(../img/social/fb-icon.svg);
}

.btn--social--in::before {
  background-image: url(../img/social/insta-icon.svg);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 73px;
}

.location__map {
  position: relative;
  width: 1440px;
  height: 416px;
  margin: 0 auto;
}

.location__write-us {
  position: absolute;
  top: 54px;
  left: 140px;
  padding: 50px;
  padding-bottom: 47px;
  background-color: #fff;
}

.location__title {
  margin: 0;
  padding: 0;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.location__adress,
.location__phone-number {
  width: 210px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.location__phone-number {
  margin-bottom: 36px;
}

.location__adress {
  margin-bottom: 19px;
}

.header {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  background-color: #eeeeee;
}

.header__toggle {
  position: absolute;
  top: -58px;
  right: -75px;
  z-index: 2;
  display: none;
  width: 21px;
  height: 20px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.header__toggle:focus {
  outline: none !important;
}

.header__toggle:active {
  outline: none !important;
}

.header__wrapper {
  display: flex;
  padding-top: 49px;
}

.header__logo-link {
  margin-right: 202px;
  width: 160px;
  height: 65px;
}

.header__logo-link[href]:hover {
  opacity: 0.8;
}

.header__logo-link[href]:active {
  opacity: 0.3;
}

.header__navigation {
  position: relative;
  display: flex;
  width: 640px;
  padding-top: 26px;
}

.header__link {
  position: relative;
  margin-right: 47px;
  color: #000;
}

.header__link--current::before {
  position: absolute;
  content: "";
  width: 74px;
  height: 2px;
  bottom: 4px;
  left: 1px;
  background-color: #fb565a;
}

.header__link:hover {
  color: #fb565a;
}

.header__link:active {
  color: #000;
  opacity: 0.3;
}

.header__basket {
  position: relative;
  width: 160px;
  padding-top: 27px;
  margin-left: auto;
  text-align: right;
  color: #000;
}

.header__basket--current::after {
  position: absolute;
  content: "";
  width: 112px;
  height: 2px;
  bottom: 4px;
  right: 0;
  background-color: #fb565a;
}

.header__basket:hover {
  color: #fb565a;
}

.header__basket:active {
  color: rgba(0, 0, 0, 0.3);
}

.header__basket::before {
  content: "";
  position: absolute;
  left: 45px;
  bottom: 17px;
  width: 15px;
  height: 15px;
  background: url(../img/header/cart-icon.svg) no-repeat 50% 50%;
}

.social {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding: 66px 0;
}

.social__title {
  width: 560px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
}

.social__friend-text {
  display: block;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}

.social__list {
  display: flex;
  width: 260px;
  margin: 0;
  padding: 0;
  margin-right: 140px;
  line-height: 20px;
  list-style: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 101;
  display: none;
  width: 760px;
  padding: 85px 100px;
  padding-top: 75px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal--show {
  display: block;
}

.modal__close {
  position: absolute;
  top: 78px;
  right: 90px;
  z-index: 102;
  width: 21px;
  height: 21px;
  font-size: 0;
  opacity: 0.3;
  background-color: transparent;
  border: 0;
  background: url(../img/modal/close-cross.svg) no-repeat;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 1;
}

.modal__close:active {
  opacity: 0.3;
}

.modal-write-us__title {
  margin: 0;
  padding: 0;
  padding-bottom: 15px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.modal-write-us__form-wrapper--left {
  float: left;
  width: 360px;
}

.modal-write-us__form-wrapper--right {
  float: right;
  width: 360px;
}

.modal-write-us__label {
  display: inline-block;
  margin-top: 35px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.modal-write-us__text-area {
  min-width: 100%;
  max-width: 120%;
  min-height: 114px;
  max-height: 214px;
}

.modal-write-us__text-area,
.modal-write-us__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px;
  margin-top: 12px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  border: 2px solid #d7dcde;
  border-radius: 1px;
}

.modal-write-us__text-area:invalid,
.modal-write-us__input:invalid {
  border-color: #e74246;
}

.modal-write-us__text-area:invalid::-moz-placeholder, .modal-write-us__input:invalid::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e74246;
}

.modal-write-us__text-area:invalid:-ms-input-placeholder, .modal-write-us__input:invalid:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e74246;
}

.modal-write-us__text-area:invalid::-ms-input-placeholder, .modal-write-us__input:invalid::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e74246;
}

.modal-write-us__text-area:invalid::placeholder,
.modal-write-us__input:invalid::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #e74246;
}

.modal-write-us__text-area:hover,
.modal-write-us__input:hover {
  border-color: #b4b9bb;
}

.modal-write-us__text-area:focus,
.modal-write-us__input:focus {
  border-color: #000;
}

.modal-write-us__text-area::-moz-placeholder, .modal-write-us__input::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  opacity: 0.5;
  /* Firefox */
}

.modal-write-us__text-area:-ms-input-placeholder, .modal-write-us__input:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  opacity: 0.5;
  /* Firefox */
}

.modal-write-us__text-area::-ms-input-placeholder, .modal-write-us__input::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  opacity: 0.5;
  /* Firefox */
}

.modal-write-us__text-area::placeholder,
.modal-write-us__input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444;
  opacity: 0.5;
  /* Firefox */
}

.modal-write-us__text-area:focus::-moz-placeholder, .modal-write-us__input:focus::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444444;
  opacity: 1;
  /* Firefox */
}

.modal-write-us__text-area:focus:-ms-input-placeholder, .modal-write-us__input:focus:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444444;
  opacity: 1;
  /* Firefox */
}

.modal-write-us__text-area:focus::-ms-input-placeholder, .modal-write-us__input:focus::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444444;
  opacity: 1;
  /* Firefox */
}

.modal-write-us__text-area:focus::placeholder,
.modal-write-us__input:focus::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #444444;
  opacity: 1;
  /* Firefox */
}

.catalog-title {
  margin: 0;
  padding-top: 78px;
  padding-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
  text-align: center;
  background-color: #eee;
}

.filters {
  width: 260px;
  padding-top: 55px;
  margin-right: 140px;
}

.filters__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
  border: none;
}

.filters__fieldset--net {
  margin-bottom: 44px;
}

.filters__legend {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.16px;
}

.filters__legend--price {
  margin-bottom: 48px;
}

.filters__range {
  display: inline-block;
  margin-right: 8px;
  line-height: 22px;
  text-transform: uppercase;
}

.filters__price-range {
  display: inline-block;
  width: 80px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  background-color: #eee;
  border-radius: 3px;
}

.filters__price-range--from {
  margin-right: 28px;
}

.filters__list {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  list-style: none;
}

.filters__list-item {
  position: relative;
  margin-bottom: 15px;
}

.filters__list-item:last-child {
  margin-bottom: 0;
}

.filters__input:hover + label {
  color: #000;
}

.filters__input:hover + label::after,
.filters__input:hover + label::before {
  opacity: 1;
}

.filters__input + label::after,
.filters__input + label::before {
  opacity: 0.4;
}

.filters__input:disabled + label {
  opacity: 0.1;
}

.filters__input--radio + label::before {
  position: absolute;
  left: -35px;
  content: "";
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 4px solid #4d4d4d;
}

.filters__input--radio:checked + label::after {
  position: absolute;
  left: -27px;
  top: 8px;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
}

.filters__input--checkbox + label::before {
  position: absolute;
  left: -35px;
  content: "";
  width: 26px;
  height: 23px;
  background: url(../img/filters/checkbox-off.svg) no-repeat 0 0;
}

.filters__input--checkbox:checked + label::before {
  background: url(../img/filters/checkbox-on.svg) no-repeat 0 0;
}

.range {
  position: relative;
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
  background-color: #eee;
  border-radius: 3px;
}

.range::before {
  content: "";
  position: absolute;
  right: 21px;
  top: 39px;
  z-index: 1;
  width: 219px;
  height: 2px;
  color: #d7dcde;
  background-color: #d7dcde;
}

.range__green-strip {
  content: "";
  position: absolute;
  right: 88px;
  top: 39px;
  z-index: 2;
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range__button-1 {
  content: "";
  position: absolute;
  top: 29px;
  left: 18px;
  z-index: 3;
  cursor: pointer;
  width: 20px;
  height: 23px;
  background: url(../img/range/filter-button.svg) no-repeat 0 0;
}

.range__button-2 {
  content: "";
  position: absolute;
  top: 29px;
  left: 160px;
  z-index: 3;
  cursor: pointer;
  width: 20px;
  height: 23px;
  background: url(../img/range/filter-button.svg) no-repeat 0 0;
}

.catalog {
  width: 760px;
  padding-top: 56px;
}

.catalog__sorting {
  display: flex;
  -ms-align-items: baseline;
  align-items: baseline;
  margin-bottom: 53px;
}

.catalog__sorting-type {
  width: 300px;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__sorting-list {
  margin-right: 26px;
}

.catalog__sorting-direction {
  width: 41px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  /* justify-content: right; */
  /*justify-content: flex-end;*/
  list-style: none;
  flex-shrink: 0;
}

.catalog__sorting-decrease,
.catalog__sorting-increase {
  display: block;
  width: 11px;
  height: 10px;
  background: no-repeat 0 0;
}

.catalog__sorting-decrease {
  background-image: url(../img/catalog/icon-down-dir.svg);
}

.catalog__sorting-increase {
  background-image: url(../img/catalog/icon-up-dir.svg);
}

.catalog__sorting-text {
  width: 160px;
  margin: 0;
  padding: 0;
  margin-right: 240px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.catalog__sorting-link,
.catalog__sorting-decrease,
.catalog__sorting-increase {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  opacity: 0.3;
}

.catalog__sorting-link:hover,
.catalog__sorting-decrease:hover,
.catalog__sorting-increase:hover {
  opacity: 0.6;
}

.catalog__sorting-link:active,
.catalog__sorting-decrease:active,
.catalog__sorting-increase:active {
  opacity: 1;
}

.catalog__sorting-link--current,
.catalog__sorting-decrease--current,
.catalog__sorting-increase--current {
  opacity: 1;
}

.catalog__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__item {
  position: relative;
  margin-bottom: 33px;
  width: 360px;
  height: 616px;
}

.catalog__item:hover {
  box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
}

.catalog__item:hover .catalog__browser-img {
  opacity: 0.12;
}

.catalog__item:hover .catalog__item-popup {
  display: block;
}

.catalog__browser-img {
  width: 360px;
  height: 40px;
}

.catalog__item-image {
  width: 360px;
  height: 576px;
}

.catalog__item-popup {
  position: absolute;
  bottom: 0;
  display: none;
  width: 360px;
  height: 231px;
  padding-top: 29px;
  /*	padding-bottom: 43px;*/
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.catalog__popup-title {
  margin: 0;
  margin-bottom: 17px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.catalog__popup-text {
  margin: 0;
  margin-bottom: 31px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.catalog__item-price:active {
  color: white;
}

.catalog__pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin: 60px 0;
  margin-top: 28px;
  list-style: none;
}

.catalog__pagination-page {
  margin-right: 11px;
}

.catalog__show-filters {
  display: none;
}

@media (max-width: 1250px) {
  .container {
    width: 668px;
    padding: 0 50px;
  }

  .wrapper {
    position: relative;
  }

  .location__map {
    width: 768px;
    height: 416px;
    margin: 0 auto;
    overflow: hidden;
  }

  .location__map-image {
    max-width: none;
    margin-left: -292px;
  }

  .header {
    font-size: 14px;
    line-height: 25px;
    min-width: 768px;
  }

  .header__wrapper {
    padding-top: 20px;
  }

  .header__logo-link {
    margin-right: 40px;
    width: 130px;
  }

  .header__navigation {
    display: flex;
    width: 340px;
    padding-top: 25px;
  }

  .header__link {
    margin-right: 22px;
  }

  .header__link--current::before {
    width: 61px;
    height: 2px;
    bottom: 12px;
    left: 1px;
  }

  .header__basket {
    width: 134px;
    padding-top: 25px;
    padding-right: 20px;
    text-align: right;
  }

  .header__basket::before {
    bottom: 21px;
  }

  .modal {
    width: 360px;
    padding: 50px 50px;
  }

  .modal__close {
    top: 50px;
    right: 50px;
  }

  .catalog-title {
    min-width: 768px;
  }

  .filters {
    display: none;
  }

  .show-filter {
    position: absolute;
    top: 150px;
    z-index: 100;
    display: block;
    padding: 40px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    background-color: #fff;
  }

  .catalog__show-filters {
    display: block;
    margin-right: 40px;
  }

  .catalog__sorting-text {
    width: 160px;
    margin-right: 0px;
  }

  .catalog__item {
    position: relative;
    margin-bottom: 33px;
    width: 320px;
    height: 548px;
  }

  .catalog__item:hover {
    box-shadow: 0px 6px 15px 0px rgba(0, 1, 1, 0.25);
  }

  .catalog__item:hover .catalog__browser-img {
    opacity: 0.12;
  }

  .catalog__item:hover .catalog__item-popup {
    display: block;
  }

  .catalog__browser-img {
    width: 320px;
    height: 36px;
  }

  .catalog__item-image {
    width: 320px;
    height: auto;
  }

  .catalog__item-popup {
    width: 320px;
    bottom: 0px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .btn--width--filter {
    min-width: 320px;
  }

  .container {
    width: 320px;
    padding: 0 30px;
  }

  .location__map {
    width: 320px;
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
  }

  .location__map-image {
    margin-left: -189px;
    width: 631px;
  }

  .location__write-us {
    position: static;
  }

  .header {
    background-color: #fff;
    min-width: 380px;
  }

  .header__toggle {
    display: block;
  }

  .header__logo-link {
    position: relative;
    padding-top: 20px;
    padding-bottom: 24px;
    margin-right: 0px;
    width: 130px;
  }

  .header__logo-link::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 320px;
    height: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
  }

  .header__wrapper {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .header__navigation {
    width: auto;
    padding-top: 0px;
    flex-direction: column;
    align-items: center;
  }

  .header__navigation--opened .header__toggle::before,
  .header__navigation--opened .header__toggle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 2px;
    background-color: #221f1f;
  }

  .header__navigation--opened .header__toggle::before {
    transform: rotate(45deg);
  }

  .header__navigation--opened .header__toggle::after {
    transform: rotate(-45deg);
  }

  .header__navigation--closed .header__toggle {
    right: -130px;
  }

  .header__navigation--closed .header__link {
    display: none;
  }

  .header__navigation--closed ~ .header__basket {
    display: none;
    background-color: #000;
  }

  .header__navigation--closed .header__toggle::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: #221f1f;
    box-shadow: 0 6px 0 0 #221f1f, 0 12px 0 0 #221f1f;
  }

  .header__link {
    position: relative;
    display: block;
    padding: 23px 0;
    margin-right: 0;
    font-size: 19px;
  }

  .header__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 320px;
    height: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
  }

  .header__link--current::before {
    width: 85px;
    height: 2px;
    bottom: 12px;
    left: 1px;
  }

  .header__basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 23px 0;
    padding-right: 0px;
    margin-left: 0;
    font-size: 19px;
  }

  .header__basket::before {
    bottom: 28px;
    left: -23px;
  }

  .header__basket::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 320px;
    height: 2px;
    background-color: #ccc;
    transform: translateX(-50%);
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .social__list {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .social__title {
    width: auto;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #444444;
    text-align: center;
  }

  .social__friend-text {
    margin-bottom: 20px;
  }

  .modal {
    width: 320px;
    padding: 50px 30px;
  }

  .modal--show {
    display: flex;
  }

  .modal__close {
    top: 25px;
    right: 25px;
  }

  .modal-write-us__text-area,
  .modal-write-us__input {
    width: 300px;
    min-width: auto;
  }

  .modal-write-us__form-submit {
    margin-top: 20px;
    margin-left: 21px;
  }

  .catalog-title {
    min-width: 380px;
    width: 320px;
    margin: 0 auto;
    background-color: #fff;
  }

  .catalog {
    width: 320px;
    padding: 0;
  }

  .catalog__sorting {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-bottom: 53px;
  }

  .catalog__sorting-text {
    width: auto;
    margin-bottom: 10px;
  }

  .catalog__show-filters {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .catalog__sorting-direction {
    margin: 0;
    padding: 10px;
  }

  .catalog__pagination-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .catalog__pagination-item {
    margin-bottom: 13px;
  }
}