.approaches{
    &__list:nth-child(1) {
        background-image: url(../img/approaches/slide1.png);
    }
    &__list:nth-child(2) {
        background-image: url(../img/approaches/slide2.png);
    }
    &__list:nth-child(3) {
        background-image: url(../img/approaches/slide3.png);
    }
    &__title{
        margin: 0;
        padding: 0;
        padding-bottom: 26px;

        font-size: 55px;
        line-height: 55px;
        font-weight: 500;
        color: #000;
    }
    &__text{
        margin: 0;
        padding: 0;
        margin-bottom: 39px;
    }
    background-color: #eeeeee;
}

@media(max-width: $desktop-width){
    .approaches{
        min-width: $tablet-width;
    }
}
@media(max-width: $tablet-width){
    .approaches{
        &__title{
            margin: 0;
            padding: 0;
            padding-bottom: 18px;
    
            font-size: 21px;
            line-height: normal;
            font-weight: 500;
            color: #000;
        }
        background-color: #fff;
    }
}
