.btn{
    &:hover{
        background-color: #e74246;
    }
    &:active{
        color: rgba(255,255,255,0.3);
    
        background-color: #d7373b;
        box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
    
    }
    &--background-color{
        &--green{
            &:hover{
                background-color: $green-btn-hover;
            }
            &:active{
                background-color: $green-btn-active;
            }
            background-color: $green-btn;
        }
        &--yellow{
            &:hover{
                background-color: $yellow-btn-hover;
            }
            &:active{
                background-color: $yellow-btn-active;
            }
            background-color: $yellow-btn;
        }
        &--grey{
            &:hover{
                background-color: $grey-btn-hover;
            }
            &:active{
                color: rgba(0,0,0,0.3);
                background-color: $grey-btn-active;
            }
            background-color: $grey-btn;
            color: #000;
        }
    }
    &--width{
        &--page{
            padding-left: 21px;
            padding-right: 20px;
        }
        &--small{
            padding-left: 40px;
            padding-right: 40px;
        }
        &--middle{
            padding-left: 45px;
            padding-right: 44px;
        }
        &--large{
            padding-left: 83px;
            padding-right: 83px;
        }
        &--max{
            padding-left: 88px;
            padding-right: 88px;
        }
        &--catalog-next{
            padding-left: 77px;
            padding-right: 79px;
        }
    }
    &--current{
            &:hover{
                background-color: #fff;
            }
            &:active{
                color: rgba(0,0,0,1);
            
                background-color: #fff;
                box-shadow: 
                inset 0 3px #dbdbdb,
                inset 0 -3px #dbdbdb,
                inset 3px 0  #dbdbdb,
                inset -3px 0  #dbdbdb;
            }
            background-color: #fff;
            box-shadow: 
            inset 0 3px #dbdbdb,
            inset 0 -3px #dbdbdb,
            inset 3px 0  #dbdbdb,
            inset -3px 0  #dbdbdb;
        }
        &--social{
            &::before{
                    content:"";
                    position: absolute;
                    top: 0;
                    left: 0;
                
                    width: 80px;
                    height: 80px; 
                
                    border-radius: 50%;
                    background: transparent no-repeat 50% 50%;
                }
                &:active::before{
                    opacity: 0.3;
                }
                &--vk::before{
                    background-image: url(../img/social/vk-icon.svg);
                }
                &--fb::before{
                    background-image: url(../img/social/fb-icon.svg);
                }
                &--in::before{
                    background-image: url(../img/social/insta-icon.svg);
                }

            position: relative;
            width: 80px;
            height: 80px;
            padding: 0;
            margin-right: 10px;

            background: #e1e1e1 no-repeat 50% 50%;
            border-radius: 50%;
            
        }
    display: inline-block;

	padding: 16px 55px;
	
	font: inherit;
	line-height: 18px;
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;

	background-color: #fb565a;
	border: none;
	border-radius: 3px;
}