.catalog-title{
    margin: 0;
	padding-top: 78px;
	padding-bottom: 108px;
    
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000;
	text-align: center;
    
	background-color: #eee;
}

@media(max-width: $desktop-width){
    .catalog-title{
        min-width: $tablet-width;
    }
}

