.container{
	width: 1160px;
	margin: 0 auto;
    padding: 0 20px;
	// padding-left: 20px;
	// padding-right: 20px;
}   

@media(max-width: $desktop-width){
    .container{
        width: 668px;
        padding: 0 50px;

    } 
}
@media(max-width: $tablet-width) {
    .container{
        width: 320px;
        padding: 0 30px;

    } 
}
