.filters{
    &__fieldset{
        &--net{
            margin-bottom: 44px;
        }
        margin: 0;
        padding: 0;
        margin-bottom: 54px;
        border: none;
    }
    &__legend{
        &--price{
            margin-bottom: 48px;
        }
        margin-bottom: 15px;
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 0.16px;
    }
    &__range{
        display: inline-block;
        margin-right: 8px;
        line-height: 22px;
        text-transform: uppercase;
    }
    &__price-range{
        &--from{
            margin-right: 28px;
        }
        display: inline-block;
        width: 80px;
        height: 38px;

        line-height: 38px;
        text-align: center;

        background-color: #eee;
        border-radius: 3px;
    }
    &__list{
        margin: 0;
        padding: 0;
        padding-left: 37px;

        list-style: none;
    }
    &__list-item{
        &:last-child{
            margin-bottom: 0;
        }
        position: relative;

	    margin-bottom: 15px;
    }
    &__input{
        &:hover+label
        {
            color: #000;
        }
        &:hover+label::after,
        &:hover+label::before{
	        opacity: 1;
        }
        &+label::after,
        &+label::before{
            opacity: 0.4;
        }
        &:disabled+label{
            opacity: 0.1;
        } 
    }
    &__input--radio + label::before{
        position: absolute;
        left: -35px;
    
        content: "";
    
        width: 17px;
        height: 17px;
    
        border-radius: 50%;
        border: 4px solid #4d4d4d;
    }
    &__input--radio:checked+label::after{
        position: absolute;
        left: -27px;
        top: 8px;
        content: "";
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background-color: #4d4d4d;
    }
    &__input--checkbox+label::before{
        position: absolute;
        left: -35px;
    
        content: "";
    
        width: 26px;
        height: 23px;
    
        background: url(../img/filters/checkbox-off.svg) no-repeat 0 0 ;
    }
    &__input--checkbox:checked+label::before{
        background: url(../img/filters/checkbox-on.svg) no-repeat 0 0 ;
    }
    // &__button{
    //     // &:hover{
    //     //     background-color: #dfdfdf;
    //     // }
    //     // &:active{
    //     //     color: rgba(0,0,0,0.3);
        
    //     //     background-color: #d5d5d5;
    //     // }
    //     // width: 100%;

    //     // font-size: 16px;
    //     // line-height: 18px;
    //     // font-weight: 500;
    //     // color: #000;

    //     // background-color: #eee;
    //     // border: none;
    // }
    width: 260px;
	padding-top: 55px;
	margin-right: 140px;
}