
.header{
    &__wrapper{
        display: flex;
    }

    &__logo-link{
        padding-top: 49px;
        margin-right: 202px;
        width: 160px;
        height: 65px;
        &[href]:hover{
            opacity: 0.8;
        }
        &[href]:active{
            opacity: 0.3;
        }
    }

    &__navigation{
        display: flex;
        width: 640px;
        padding-top: 75px;

	    
    }

    &__link{
        &--current::before{
            position: absolute;
            content: "";
            width: 74px;
            height: 2px;
            bottom: 4px;
            left: 1px;
            background-color: #fb565a;
        }
        &:hover{
            color: #fb565a;
        }
        &:active{
            color: #000;

	        opacity: 0.3;
        }
        position: relative;
        margin-right: 47px;

        color: #000;
    }

    &__basket{
        &--current::after{
            position: absolute;
            content: "";
            width: 112px;
            height: 2px;
            bottom: 4px;
            right: 0;
            background-color: #fb565a;
        }
        &:hover{
            color: #fb565a;
        }
        &:active{
            color: rgba($color: #000000, $alpha: 0.3);

        }
        position: relative;

        width: 160px;
        padding-top: 76px;
        margin-left: auto;

        text-align: right;
        color: #000;

        &::before{
            content: "";
            position: absolute;
            left: 45px;
            bottom: 17px;
            width: 15px;
            height: 15px;
            background: url(../img/header/cart-icon.svg) no-repeat 50% 50%;
        }
    }
        font-size: 16px;
	    line-height: 30px;
	    font-weight: 500;
	    color: #000;
	    text-transform: uppercase;

        background-color: #eeeeee;
}