.modal{
    &--show{
        display: block;
    }
    &__close{
        &:hover{
            opacity: 1;
        }
        &:active{
            opacity: 0.3;
        }
        position: absolute;
        top: 78px;
        right: 90px;
        z-index: 102;
    
        width: 21px;
        height: 21px;
    
        font-size: 0;
        opacity: 0.3;
    
        background-color: transparent;
        border: 0;
        background: url(../img/modal/close-cross.svg) no-repeat ;
    
        cursor: pointer;
    }
    position: fixed;
	top: 50%;
	left: 50%;
	z-index: 101;

    display: none;

    width: 760px;
	padding: 85px 100px;
	padding-top: 75px;

	transform: translate(-50%, -50%);

	background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
    
}