.services{
    &__list{
        display: flex;
        margin: 0;
        padding: 0;

        list-style: none;
    }
    &__item{
        width: 300px;
        margin-right: 100px;

        background: no-repeat top left;
        &:last-child{
            margin-right: 0;
        }
    }
    &__image{
        width: 300px;
        height: 146px;
    }
    &__title{
        margin: 0;
        padding: 0;
        margin-top: 18px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 700;
        color: #000;
        text-transform: uppercase;
    }
    &__text{
        width: 260px;
        margin: 0;
        padding: 0;
        margin-top: 16px;      
    }
    &__order-link{
        margin-top: 32px;
    }
    padding-top: 80px;
    padding-bottom: 80px;
}

@media(max-width: $tablet-width){
    .services{
        &__image{
            width: 300px*$multi;
            height: 146px*$multi;
        }
        &__item{
            width: 200px;
            margin-right: 34px;
            &:last-child{
                margin-right: 0;
            }
        }
        &__text{
            width: auto;   
        }
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
