$slider-position-left:539px;

.slider{
    &__radio-button{
        display: none;
    }
    &__controls{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 96px;
        z-index: 100;

        display: flex;
        justify-content: space-between;
        width: 88px;
        height: 18px;
    }
    &__button{
        position: relative;
        width: 18px;
        height: 18px;

        border-radius: 50%;
        background-color: #fff;

        cursor: pointer;
    }
    #btn-1:checked ~ .slider__controls .slider__button[for="btn-1"]::before,
    #btn-2:checked ~ .slider__controls .slider__button[for="btn-2"]::before,
    #btn-3:checked ~ .slider__controls .slider__button[for="btn-3"]::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;

        width: 4px;
        height: 4px;
        border: 2px solid #c1c1c1;
        border-radius: 50%;
    }
    &__inner{
        overflow: hidden;
    }
    &__slides{
        width: 300%;
    }
    &__item {
        float: left;
        box-sizing: border-box;
        width: 1160px;
        padding-top: 78px;
        padding-right: 600px;
        padding-bottom: 80px;
        background: no-repeat 431px 100%;
    }

    position: relative;
}



  #btn-1:checked ~ .slider__inner .slider__slides {
    transform: translate(0px);
  }
  
  #btn-2:checked ~ .slider__inner .slider__slides {
    transform: translate(-1160px);
  }
  
  #btn-3:checked ~ .slider__inner .slider__slides {
    transform: translate(-2320px);
  }

  @media(max-width: $desktop-width){
    .slider{
        &__item {
            width: 668px;
            padding-right: 20px;
            background: no-repeat 297px 100%;
            background-size: 70%;
        }
    } 
    #btn-1:checked ~ .slider__inner .slider__slides {
        transform: translate(0px);
      }
      
      #btn-2:checked ~ .slider__inner .slider__slides {
        transform: translate(-($tablet-width - 100));
      }
      
      #btn-3:checked ~ .slider__inner .slider__slides {
        transform: translate(-2*($tablet-width - 100));
      }
}
  @media(max-width: $tablet-width){
    .slider{
        &__item {
            width: 320px;
            padding: 10px;
            background: no-repeat 215px 100%;
            background-size: 70%;
        }
        &__controls{
            bottom: 25px;
            width: 163px;
        }
        &__button{
            background-color: rgba(204, 204, 204, 0.233);
        }
        height: 330px;
    } 
    #btn-1:checked ~ .slider__inner .slider__slides {
        transform: translate(0px);
      }
      
      #btn-2:checked ~ .slider__inner .slider__slides {
        transform: translate(-320px);
      }
      
      #btn-3:checked ~ .slider__inner .slider__slides {
        transform: translate(-640px);
      }
}
