$tablet-width: 768px;
$desktop-width: 1250px;
$mobile-width: 480px;
$multi: 0.65;
$red-btn: #fb565a;
$red-btn-hover: #fb565a;
$red-btn-active: #fb565a;
$green-btn: #00ca74;
$green-btn-hover: #00bc6c;
$green-btn-active: #00aa62;
$yellow-btn: #efc84a;
$yellow-btn-hover: #eab534;
$yellow-btn-active: #e5a722;
$grey-btn: #eee;
$grey-btn-hover: #dfdfdf;
$grey-btn-active: #d5d5d5;
