<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Nerds</title>
	<link rel="stylesheet" href="css/main-styles.min.css">
</head>
<body>
	@@include('components/header.html')
	<main class="main">
		@@include('components/approaches.html')
		@@include('components/services container.html')
		@@include('components/about-us container.html')
	</main>
	<footer class="footer">
		@@include('components/location.html')
		@@include('components/footer__social social.html')
	</footer>
	@@include('components/modal modal-write-us.html')	
	<script src="js/popup.js"></script>
	<script src="js/webp.js"></script>
	<script src="js/navigation-toggle.js"></script>
</body>
</html>
