<section class="approaches">
    <div class="container  slider">
        <input class="slider__radio-button" type="radio" id="btn-1" name="toggle" checked>
        <input class="slider__radio-button" type="radio" id="btn-2" name="toggle">
        <input class="slider__radio-button" type="radio" id="btn-3" name="toggle">
        <div class="slider__inner">
            <div class="slider__slides clearfix">
                <div class="approaches__list slider__item">
                    <h2 class="approaches__title">Долго, дорого, скрупулезно.</h2>
                    <p class="approaches__text">Математически выверенный дизайн<br> для вашего сайта или мобильного приложения.</p>
                    <a href="" class="approaches__link btn">Узнать больше</a>
                </div>
                <div class="approaches__list slider__item">
                    <h2 class="approaches__title">Любим математику как никто другой</h2>
                    <p class="approaches__text">Никакого креатива, только математические формулы<br> для расчета идеальных пропорций.</p>
                    <a href="" class="approaches__link btn">Узнать больше</a>
                </div>
                <div class="approaches__list slider__item">
                    <h2 class="approaches__title">Только ночь, только хардкор</h2>
                    <p class="approaches__text">Работать днем, как все? Мы против этого.<br> Ближе к полуночи работа только начинается.</p>
                    <a href="" class="approaches__link btn">Узнать больше</a>
                </div>
            </div>
        </div>
        <div class="slider__controls">
            <label class="slider__button" for="btn-1"></label>
            <label class="slider__button" for="btn-2"></label>
            <label class="slider__button" for="btn-3"></label>
        </div>
    </div>
</section>