<section class="catalog">
    <div class="catalog__sorting">
        <button class="catalog__show-filters btn btn--width--filter btn--background-color--grey">Фильтры</button>
        <p class="catalog__sorting-text">Сортировать:</p>
        <ul class="catalog__sorting-type">
            <li class="catalog__sorting-list"><a class="catalog__sorting-link catalog__sorting-link--current" href="#">По цене</a></li>
            <li class="catalog__sorting-list"><a class="catalog__sorting-link" href="#">По типу</a></li>
            <li class="catalog__sorting-list"><a class="catalog__sorting-link" href="#">По названию</a></li>
        </ul>
        <ul class="catalog__sorting-direction">
            <li class="catalog__sorting-direction-item"><a class="catalog__sorting-decrease catalog__sorting-decrease--current" href=""><span class="visually-hidden">По уменьшению</span></a></li>
            <li class="catalog__sorting-direction-item"><a class="catalog__sorting-increase" href=""><span class="visually-hidden">По увеличению</span></a></li>
        </ul>
    </div>
    <ul class="catalog__content">
        <li class="catalog__item">
            <div class="catalog__browser-img"><img src="img/catalog/browser.svg" alt="Рисунок верхушки браузера"></div>
            <div class="catalog__item-image"><img src="img/catalog/img-sedona.jpg" alt="Седона" width="360" height="576"></div>
            <div class="catalog__item-popup">
                <h3 class="catalog__popup-title">Sedona</h3>
                <p class="catalog__popup-text">Информационный сайт для туристов</p>
                <a href="#" class="btn catalog__item-price">9900 руб.</a>
            </div>
        </li>
        <li class="catalog__item">
            <div class="catalog__browser-img"><img src="img/catalog/browser.svg" alt="Рисунок верхушки браузера"></div>
            <div class="catalog__item-image"><img src="img/catalog/img-pink.jpg" alt="Пинк" width="360" height="576"></div>
            <div class="catalog__item-popup">
                <h3 class="catalog__popup-title">Pink App</h3>
                <p class="catalog__popup-text">Продуктовый лендинг приложения для iOS и Android</p>
                <a href="#" class="btn catalog__item-price">9900 руб.</a>
            </div>
        </li>
        <li class="catalog__item">
            <div class="catalog__browser-img"><img src="img/catalog/browser.svg" alt="Рисунок верхушки браузера"></div>
            <div class="catalog__item-image"><img src="img/catalog/img-barbershop.jpg" alt="Бородинский" width="360" height="576"></div>
            <div class="catalog__item-popup">
                <h3 class="catalog__popup-title">Barbershop</h3>
                <p class="catalog__popup-text">Сайт салоны красоты. Для мужчин, да.</p>
                <a href="#" class="btn catalog__item-price">9900 руб.</a>
            </div>
        </li>
        <li class="catalog__item">
            <div class="catalog__browser-img"><img src="img/catalog/browser.svg" alt="Рисунок верхушки браузера"></div>
            <div class="catalog__item-image"><img src="img/catalog/img-mishka.jpg" alt="Мишка" width="360" height="576"></div>
            <div class="catalog__item-popup">
                <h3 class="catalog__popup-title">Mishka</h3>
                <p class="catalog__popup-text">Интернет-магазин вязаных игрушек</p>
                <a href="#" class="btn catalog__item-price">9900 руб.</a>
            </div>
        </li>
        <li class="catalog__item">
            <div class="catalog__browser-img"><img src="img/catalog/browser.svg" alt="Рисунок верхушки браузера"></div>
            <div class="catalog__item-image"><img src="img/catalog/img-aplus.jpg" alt="А-плюс" width="360" height="576"></div>
            <div class="catalog__item-popup">
                <h3 class="catalog__popup-title">A plus</h3>
                <p class="catalog__popup-text">Лендинг курсов повышения квалификации</p>
                <a href="#" class="btn catalog__item-price">9900 руб.</a>
            </div>
        </li>
        <li class="catalog__item">
            <div class="catalog__browser-img"><img src="img/catalog/browser.svg" alt="Рисунок верхушки браузера"></div>
            <div class="catalog__item-image"><img src="img/catalog/img-kvast.jpg" alt="Кваст" width="360" height="576"></div>
            <div class="catalog__item-popup">
                <h3 class="catalog__popup-title">Кваст</h3>
                <p class="catalog__popup-text">Промо-сайт производителя крафтового кваса</p>
                <a href="#" class="btn catalog__item-price">9900 руб.</a>
            </div>
        </li>
    </ul>
    <ul class="catalog__pagination-list">
        <li class="catalog__pagination-item"><a class="catalog__pagination-page btn btn--background-color--grey btn--width--page btn--current">1</a></li>
        <li class="catalog__pagination-item"><a class="catalog__pagination-page btn btn--background-color--grey btn--width--page" href="">2</a></li>
        <li class="catalog__pagination-item"><a class="catalog__pagination-page btn btn--background-color--grey btn--width--page" href="">3</a></li>
        <li class="catalog__pagination-item"><a class="catalog__pagination-page catalog__pagination-page--next btn btn--background-color--grey btn--width--catalog-next" href="">Следующая</a></li>
    </ul>
</section>
