<form class="filters" method="get" action="https://echo.htmlacademy.ru">
    <fieldset class="filters__fieldset filters__fieldset--price">
        <legend class="filters__legend filters__legend--price">Стоимость:</legend>
        <div id="id66" class="range">
            <div class="range__green-strip"></div>
            <div class="range__button-1"></div>
            <div class="range__button-2"></div>
        </div>
        <span class="filters__range filters__range--from">от</span>
        <output name="price-range-from" class="filters__price-range filters__price-range--from">0</output>
        <span class="filters__range filters__range--till">до</span>
        <output name="price-range-till" class="filters__price-range filters__price-range--till">15 000</output>
    </fieldset>
    <fieldset  class="filters__fieldset filters__fieldset--net">
        <legend class="filters__legend filters__legend--net">Сетка:</legend>
        <ul class="filters__list">
            <li class="filters__list-item"><input class="filters__input filters__input--radio visually-hidden" type="radio" name="grid" value="Adapted" id="adapted" checked><label for="adapted">Адаптивная</label></li>
            <li class="filters__list-item"><input class="filters__input filters__input--radio visually-hidden" type="radio" name="grid" value="fixed" id="fixed"><label for="fixed">Фиксированная</label></li>
            <li class="filters__list-item"><input class="filters__input filters__input--radio visually-hidden" type="radio" name="grid" value="rubber" id="rubber"><label for="rubber">Резиновая</label></li>
        </ul>
    </fieldset>
    <fieldset class="filters__fieldset filters__fieldset--features">
        <legend class="filters__legend filters__legend--features">Особенности:</legend>
        <ul class="filters__list">
            <li class="filters__list-item"><input class="filters__input filters__input--checkbox visually-hidden" type="checkbox" name="slider" id="slider" checked><label for="slider">Слайдер</label></li>
            <li class="filters__list-item"><input class="filters__input filters__input--checkbox visually-hidden" type="checkbox" name="features-box" id="features-box"><label for="features-box">Блок преимуществ</label></li>
            <li class="filters__list-item"><input class="filters__input filters__input--checkbox visually-hidden" type="checkbox" name="news" id="news" checked><label for="news">Новости</label></li>
            <li class="filters__list-item"><input class="filters__input filters__input--checkbox visually-hidden" type="checkbox" name="gallery" id="gallery"><label for="gallery">Галерея</label></li>
            <li class="filters__list-item"><input class="filters__input filters__input--checkbox visually-hidden" type="checkbox" name="cart" id="cart"><label for="cart">Корзина</label></li>
        </ul>
    </fieldset>
    <button type="submit" class="filters__button btn btn--background-color--grey btn--width--max">Показать</button>
</form>