<div class="container">
    <div class="footer__social social">
        <ul class="social__list">
            <li class="social__item">
                <a class="social__link social__link--vk btn btn--social btn--social--vk" href=""><span class="visually-hidden">Вконтакте</span></a>
            </li>
            <li class="social__item">
                <a class="social__link social__link--fb btn btn--social btn--social--fb" href=""><span class="visually-hidden">Facebook</span></a>
            </li>
            <li>
                <a class="social__link social__link--in btn btn--social btn--social--in" href=""><span class="visually-hidden">Instagram</span></a>
            </li class="social__item">
        </ul>
        <p class="social__title"><b class="social__friend-text">Давайте дружить, это выгодно!</b><span class="social__discount-text">Скидка 10% для друзей из социальных сетей.</span></p>
    </div>
</div>