<header class="header">	
    <div class="header__wrapper container">
        <a href="index.html" class="header__logo-link"><img class="header__logo-image" src="img/header/nerds-logo.svg" alt="Логотип «Nerds»" width="160" height="65"></a>
        <nav class="header__navigation header__navigation--opened">
            <button class="header__toggle"><span class="visually-hidden">Открыть меню</span></button>
            <a href="" class="header__link">Студия</a>
            <a href="" class="header__link">Клиенты</a>
            <a href="" class="header__link header__link--current">Магазин</a>
            <a href="" class="header__link">Контакты</a>
        </nav>
        <a href="" class="header__basket">Корзина</a>
    </div>             
</header>
