<section class="modal modal-write-us">
    <div class="modal__container">
        <h2 class="modal-write-us__title">Напишите нам</h2>
        <form class="modal-write-us__form" action="https://echo.htmlacademy.ru" method="post">
            <div class="clearfix">
                <div class="modal-write-us__form-wrapper--left">
                    <label class="modal-write-us__label" for="name">Ваше имя:</label>
                    <input class="modal-write-us__input" type="text" name="name" id="name" placeholder="Имя Фамилия">
                </div>
                <div class="modal-write-us__form-wrapper--right">
                    <label class="modal-write-us__label" for="e-mail">Ваш e-mail:</label>
                    <input class="modal-write-us__input" type="text" name="e-mail" id="e-mail" placeholder="email@example.com">
                </div>
            </div>
            <div class="modal-write-us__text-area-wrapper">
                <label class="modal-write-us__label" for="message">Текст письма:</label>
                <textarea class="modal-write-us__text-area" name="message" id="message" placeholder="В свободной форме"></textarea>
            </div>
            <input class="modal-write-us__form-submit btn btn--width--large" type="submit" value="Отправить">
        </form>
        <button class="modal__close" type="button">Закрыть</button>
    </div>
</section>
